.module--card {
    user-select: none;
    background-color: var(--other);
    color: var(--primary);
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 16px;
}


.module--btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.module--text--container {
    flex: 1;
    display: flex;
    align-items: center;
    column-gap: 4px;
    padding: 8px 16px;
    font-size: var(--label);
    letter-spacing: var(--label-spacing);
    line-height: var(--label-height);
    text-transform: capitalize;
}


.action--arrow--icon--container {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
}


.action--figure--container {
    aspect-ratio: 1/1;
    width: 28px;
    height: 28px;
    transition: transform 0.3s ease-in-out;
}


.action--figure--container img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
}


.sub--module--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 0;
    overflow: hidden;
    opacity: .8;
}

