.detail {
    grid-column: 2/3;
    width: 100%;
}


.return--btn--container {
    user-select: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-block: 16px;
    row-gap: 16px;
}


.return--btn--container .protect--overflow {
    width: fit-content;
    border-radius: 999rem;
    background-color: var(--other);
    transition: background-color 0.3s ease-in-out;
}


.protect--overflow:hover {
    background-color: var(--active);
}


.back--link {
    color: var(--primary);
    text-decoration: none;
    display: flex;
    align-items: center;
    column-gap: 4px;
    padding: 8px;
    font-size: var(--label);
    letter-spacing: var(--label-spacing);
    line-height: var(--label-height);
    font-weight: 500;
    opacity: .8;
    transition: color 0.3s ease-in-out;
}


.back--arrow {
    transform: rotate(180deg);
}


.syllabus--detail--info--container {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--other);
    border-radius: 16px;
}


.syllabus--detail--info--container .syllabus--name {
    color: #d2d8ff;
    font-size: var(--title);
    letter-spacing: var(--title-spacing);
    line-height: var(--title-height);
    padding-block: 1rem;
}


.modules--container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-block: 8px;
    row-gap: 4px;
}