/* || Roboto Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* || Poppins Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



/* || RESET */
*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


input,
button {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}


html {
    scroll-behavior: smooth;
}


/* || body  */
body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 1rem;
    width: 100%;
    height: fit-content;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#root {
    background-color: transparent;
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    transition: grid-template-columns 0.3s ease-in-out;
}


@media (width < 769px) {
    #root {
        grid-template-columns: 30px 1fr 30px;
    }
}